*{
    background-size: cover;
    text-align: center;
}
.image1{
    margin-top: 15px;
    height: 170px;
}
.complete{
    background-image:url("image.webp");
    text-align: center;
}
#div1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#attempt {
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
    font-size: 18px;
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
}

#num{
    font-size: 30px;
    
}
.box {
    display: inline-block; 
    background-color: white; 
    padding: 5px 10px; 
    border-radius: 5px;
    font-size: 18px;
    font-size: 28px;
    text-align: center; 
    width: auto; 
    min-width: 50px;
    max-width: fit-content; 
    margin: 10px auto;
    display: flex; 
    justify-content: center;
}


#btn1{
    background-color: rgb(14, 165, 40);
    border-radius: 5px;
    font-size: 30px;
}

#guess{
    font-size: 40px;
    border-radius: 15px;
    margin-right: 5px;
    
}
#input{
    height: 40px;
    font-size: 30px;
}